body {
  background-color: #282828;
}

h1 {
  font-family: 'Josefin Slab', serif;
  text-align: justify;
  color: #ffffff;
}
button {
  width: 80px;
  height: 80px;
  padding: 0px;
  background-color: transparent;
  border: 0px solid;
}
svg {
  border: 1px solid #ffffff;
  padding-top: 10px;
  padding-left: 10px;
}

.hoverarea__pathone, .hoverarea__pathtwo {
  stroke-dasharray: 100;  
  stroke-dashoffset: 100; 
}

/* Hover Animation Classes */
.hoverarea__pathone--draw {
  animation: draw 0.2s forwards;
}

.hoverarea__pathone--remove {
  animation: remove 0.2s forwards;
}

.hoverarea__pathtwo--draw {
  animation: draw 0.2s forwards;
  animation-delay: 0.2s;
}
.hoverarea__pathtwo--remove {
  stroke-dashoffset: 0;
  animation: remove 0.2s forwards;

}

/* Hover Animation */
@keyframes draw {
  from {
    stroke-dashoffset: 100; 
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes remove {
  from {
    stroke-dashoffset: 0; 
  }
  to {
    stroke-dashoffset: 100;
  }
}
